*{
    margin: 0;
}
/*Centers the logo and text*/
.logo{ 
    width: 20VW;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
nav h1{
    text-align: center;
}
/*Aligns the image of the mobile opener and make the closer not display*/
#menuOpen{
    position: absolute;
    cursor: pointer;
    width: 20vw;
    top: 50px;
    right: 50px;
}
@keyframes fadeIn{
    from {opacity: 0;}
    to{opacity: 1;}
}
#menuClose{
    display: none;
    position: absolute;
    cursor: pointer;
    width: 20vw;
    top: 50px;
    right: 50px;
}
@keyframes fadeOut{
    from {opacity: 1;}
    to {opacity: 0;}
}
/*creates the menu options*/
#mobile{
    display: none;
    position: absolute;
    top: 300px;
    font-size: 5em;
    text-align: center;
    list-style-type: none;

    border: 1px solid black;
    background-color: black;
    width: 100vw;
    height: 10em;
    align-content: center;
}
#mobile a{
    text-decoration: none;
    color: white;
}
#mobile li{
    padding: 50px;
}
#mobile a:visited, #mobile a:active{
    color: white;
}
#mobile a:hover{
    color: grey;
}
/*SECTION ONE*/
#sect1{
    background-image: url(images/BG.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    padding: 50px;
}
#sect1 h1{
    font-size: 5vw;
}
#sect1 p{
    font-size: 3vw;
    padding-top: 50px;
}
#sect1 input{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 15px;
    background-color: grey;
    color: white;
    width: 200px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: xx-large;
}
#sect1 >input:hover{
    background-color: purple;
}
#sect2{
    width: 100vw; 
}
.plans{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
    border: 1px solid black;
}
.plan1{
    margin-top: 50px;
    border: 1px solid black;
    background-color: grey;
    width: 50vw;
    height: 100%;
    margin-left: 25vw;
    margin-bottom: 150px;
}
.plan2{
    margin-top: 100px;
    border: 1px solid black;
    background-color: grey;
    width: 50vw;
    height: 100%;
    margin-left: 25vw;
    margin-bottom: 150px;
}
.plan3{
    margin-top: 150px;
    border: 1px solid black;
    background-color: grey;
    width: 50vw;
    height: 100%;
    margin-left: 25vw;
    margin-bottom: 150px;
}